.parent-container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.top-component{
    display: flex;
    flex-direction: column;
}
.heading{
    font-size: 4rem;
    text-align: center;
}
.child-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5em;
}
.add-input{
    font-size: 1.5rem;
    padding: 0.5em 0.5em;
    width: 25%;
    border-radius: 30px;
    border: 2px solid #000000;
}
.add-button{
    font-size: 1.2em;
    padding: .5em 1em;
    border-radius: 30px;
    cursor: pointer;
}
.update-button{
    display: show;
    font-size: 1.2em;
    padding: .5em 1em;
    border-radius: 30px;
    cursor: pointer;
}