.task-container{
    display: flex;
    flex: 1;
    flex-direction: column;
    border: 2px solid#000000;
}
.task-heading{
    text-align: center;
    border-bottom: solid #000000;
}
.task-elements{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #000000;
    margin: 1em 6em;
    border-radius: 32px;
    padding-left: 1em;
}
.input-checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 20px;
  height: 20px;
  border: 2px solid #333;
  border-radius: 6px;
  cursor: pointer;
  background-color: #fff;
}
.edit-button{
    font-size: .8em;
    margin-left: 0.5em;
    border-radius: 20px;
    padding: 0.8em 1em;

}
.delete-button{
    font-size: .8em;
    margin: 0.5em;
    border-radius: 20px;
    padding: 0.8em 1em;

}